node_modules/
examples/node_modules/
examples/.registry/*
examples/.registry/medea.lock
examples/.peers/*
examples/.peers/medea.lock
.registry/*
.registry/medea.lock
.peers/*
.peers/medea.lock
npm-debug.log
.DS_Store
